.a9s-annotationlayer .a9s-formatter-el {
    overflow: visible;
    pointer-events: none;
  }
  
  .a9s-annotationlayer .a9s-formatter-el {
    overflow: visible;
    pointer-events: none;
  }
  .a9s-annotationlayer .a9s-formatter-el circle {
    overflow: visible;
    pointer-events: none;
    fill: white !important;
  }
  
  .a9s-annotationlayer .a9s-formatter-el text {
    padding: 3px 5px;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.85);
    font-size: 248x;
  }
  
  .a9s-annotationlayer .a9s-formatter-el g.circle path {
    fill: white;
    transform-origin: center;
  }
  
  .a9s-annotationlayer .a9s-formatter-el g g.circle {
    transform: scale(0.2);
    translate: calc(12%) calc(8%);
  }
  
  .a9s-annotationlayer .a9s-formatter-el g[transform^='scale(1.5'] g.circle {
    transform: scale(0.5);
    translate: calc(12%) calc(8%);
  }
  
  .a9s-annotationlayer .a9s-formatter-el g[transform^='scale(1.4'] g.circle {
    transform: scale(0.5);
    /* translate: calc(20%) calc(13%); */
    translate: calc(13%) calc(10%);
  }
  
  .a9s-annotationlayer .a9s-formatter-el g[transform^='scale(1.3'] g.circle {
    transform: scale(0.462);
    /* translate: calc(20%) calc(13%); */
    translate: calc(16%) calc(13%);
  }
  
  .a9s-annotationlayer .a9s-formatter-el g[transform^='scale(1.2'] g.circle {
    transform: scale(0.533);
    translate: calc(20%) calc(13%);
  }
  
  .a9s-annotationlayer .a9s-formatter-el g[transform^='scale(1.1'] g.circle {
    transform: scale(0.615);
    translate: calc(20%) calc(13%);
  }
  
  .a9s-annotationlayer .a9s-formatter-el g[transform^='scale(1.0'] g.circle {
    transform: scale(0.71);
    translate: calc(20%) calc(16%);
  }
  .a9s-annotationlayer .a9s-formatter-el g[transform^='scale(0.9'] g.circle {
    transform: scale(0.82);
    /* translate: calc(23%) calc(19%); */
    translate: calc(16%) calc(12%);
  }
  .a9s-annotationlayer .a9s-formatter-el g[transform^='scale(0.8'] g.circle {
    transform: scale(0.95);
    translate: calc(23%) calc(19%);
  }
  .a9s-annotationlayer .a9s-formatter-el g[transform^='scale(0.7'] g.circle {
    transform: scale(1.1);
    translate: calc(28%) calc(20%);
    /**translate: 15% 11%;**/
  }
  
  .a9s-annotationlayer .a9s-formatter-el g[transform^='scale(0.6'] g.circle {
    transform: scale(1.3);
    translate: calc(28%) calc(20%);
  }
  
  .a9s-annotationlayer .a9s-formatter-el g[transform^='scale(0.5'] g.circle {
    transform: scale(1.5);
    translate: calc(38%) calc(26%);
  }
  .a9s-annotationlayer .a9s-formatter-el g[transform^='scale(0.49'] g.circle {
    transform: scale(1.4);
    translate: calc(24%) calc(20%);
  }
  .a9s-annotationlayer .a9s-formatter-el g[transform^='scale(0.4'] g.circle {
    transform: scale(1.5);
    translate: calc(100% / 1.5) calc(100% / 2);
  }
  
  .a9s-annotationlayer
    .a9s-formatter-el
    g[transform^='scale(']
    g.a9s-shape-label {
    transform: translate(calc(20%), calc(18%));
    font-size: 8px;
  }
  
  .a9s-annotationlayer
    .a9s-formatter-el
    g[transform^='scale(1.5']
    g.a9s-shape-label {
    transform: translate(calc(33%), calc(32%));
    font-size: 12px;
  }
  
  .a9s-annotationlayer
    .a9s-formatter-el
    g[transform^='scale(1.4']
    g.a9s-shape-label {
    transform: translate(calc(36%), calc(32%));
    font-size: 12px;
  }
  
  .a9s-annotationlayer
    .a9s-formatter-el
    g[transform^='scale(1.3']
    g.a9s-shape-label {
    /* transform: translate(calc(40%), calc(35%)); */
  
    transform: translate(calc(35%), calc(35%));
    font-size: 12px;
  }
  
  .a9s-annotationlayer
    .a9s-formatter-el
    g[transform^='scale(1.2']
    g.a9s-shape-label {
    transform: translate(calc(40%), calc(40%));
    font-size: 14px;
  }
  
  .a9s-annotationlayer
    .a9s-formatter-el
    g[transform^='scale(1.1']
    g.a9s-shape-label {
    transform: translate(calc(45%), calc(42%));
    font-size: 16px;
  }
  
  .a9s-annotationlayer
    .a9s-formatter-el
    g[transform^='scale(1.0']
    g.a9s-shape-label {
    transform: translate(calc(50%), calc(50%));
    font-size: 20px;
  }
  .a9s-annotationlayer
    .a9s-formatter-el
    g[transform^='scale(0.9']
    g.a9s-shape-label {
    /* transform: translate(calc(55%), calc(58%)); */
    transform: translate(calc(50%), calc(48%));
    font-size: 20px;
  }
  
  .a9s-annotationlayer
    .a9s-formatter-el
    g[transform^='scale(0.8']
    g.a9s-shape-label {
    transform: translate(calc(60%), calc(60%));
    font-size: 20px;
  }
  
  .a9s-annotationlayer
    .a9s-formatter-el
    g[transform^='scale(0.7']
    g.a9s-shape-label {
    transform: translate(calc(70%), calc(70%));
  
    font-size: 25px;
  }
  
  .a9s-annotationlayer
    .a9s-formatter-el
    g[transform^='scale(0.6']
    g.a9s-shape-label {
    transform: translate(calc(83%), calc(73%));
    font-size: 30px;
  }
  
  .a9s-annotationlayer .a9s-formatter-el g[transform^='scale(0.5'],
  g.a9s-shape-label {
    transform: translate(calc(95%), calc(85%));
    font-size: 35px;
  }
  .a9s-annotationlayer .a9s-formatter-el g[transform^='scale(0.49'],
  g.a9s-shape-label {
    transform: translate(calc(95%), calc(85%));
    font-size: 35px;
  }
  .a9s-annotationlayer
    .a9s-formatter-el
    g[transform^='scale(0.4']
    g.a9s-shape-label {
    transform: translate(calc(95%), calc(85%));
    font-size: 35px;
  }
  